.faqContents {
  width:80%;
  display: block;
  margin:0 auto;
  
}
.question {
  font-weight: bold;
	line-height: 1.6em;
	position: relative;
	display: block;
	margin: 7px 7px 7px 0px;
  margin-bottom: 0;
	padding: 2em 2em 4em 5em;
	cursor: pointer;
	text-indent: 1em;
	/* border-radius: 0.5em 0.5em 0.5em 0.5em; */
	/* background: rgb(255,237,208); */
}
.question p {
  display: block;
  float: left;
}

.question p::before {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.5em;
	margin-left: -1.5em;
	padding-right: 0.5em;
	content: 'Q';
  color:orange;
}
  .faqContent{
    border-radius: 20px;
    background: rgb(255,237,208);
  }
/* 答え */

.answer p {
  padding: 0em 2em 2em 2.5em;
  color: #3e3e3e;
  font-weight: 900;
  letter-spacing: 1px;
  /* border-radius: 0 0 0.5em 0.5em; */
  /* background-color: rgb(255,237,208); */
  margin: 0em 0.5em 2em 0;
  transition: max-height 0.2s;
  text-indent:-0.5em;
}

/* ↓矢印のアイコンについて */
.arrowIcon {
  padding-top: 5%;
  width: 20px;
}

.question button {
  float:right;
}

.question button:hover{
  color:red;
}
.FAQ{
  display: flex;
  align-items: center;
}
.FAQ h1{
  padding-top:0px;
  padding-right: 0.5em;
  margin-left: 1em;
  font-size: 1.5em;
  color:#EA5415;
}

@media (max-width: 1000px) {
  .faqContents {
    padding: 0.5% 100px;
  }
}
@media (max-width: 840px) {
  .faqContents {
    padding: 0.05% 30px;
  }
}

@media (max-width: 600px) {
  .faqContents{
    width:100%;
    display: block;
    margin: 0 auto;
  }

  .question p {
    font-size: 0.85rem;
  }

  .question img {
    width: 15px;
  }

  .question button {
    display: block;
    margin: 0 auto;
    padding-top: 10px;

  }

  .answer p {
    font-size: 0.85rem;
  }

  .arrowIcon {
    padding-top: 5%;
    width: 30px;
  }
} 

@media(max-width:385px) {
  .faqContents{
    width:95%;
    /* display: block; */
    margin: 0 auto;
    padding: 0 0 0 0;
  }

  .question {
    padding:2em 2em 4em 2em
  }

  .question p {
    font-size: 0.85rem;
  }

  .qurstion p::before {
    margin: left 3em;
  }

  .question img {
    width: 15px;
  }

  .question button {
    display: block;
    margin: 0 auto;
    padding-top: 10px;

  }

  .answer p {
    padding: 0em 2em 2em 0em;
    font-size: 0.85rem;
  }

  .arrowIcon {
    padding-top: 5%;
    width: 30px;
  }

}

@media(max-width:320px) {
  .question {
    display: grid;
    padding: 2em 4px 4px 2em;
  }

  .arrowIcon {
    margin-right: 30px;
    padding-bottom: 20px;
  }
}