.mainContent {
  background-image: url("/img/hoiku-main-bg.jpg");
  padding: 10% 30px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.mainText h1 {
  padding-bottom: 5%;
  font-size: 1.85rem;
  font-weight: 900;
}
.mainText p {
  font-size: 1.25rem;
  font-weight: 700;
  color: #3e3e3e;
}
.mainLinks {
  display: flex;
}
.mainLinks a {
  background-color: #f2a93b;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 10px 20px;
  margin: 5% 20px 0px 0px;
  border-radius: 20px;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0);
}

.mainLinks a:hover {
  border: 2px solid #f2a93b;
  color: #f2a93b;
  background-color: rgba(255, 255, 255, 0.3);
}

/* メディアクエリ */

@media (min-width: 1021px) {
  .mainContent {
    padding-left: 20%;
  }
}

@media (max-width: 690px) {
  /* メインコンテンツ */
  .mainContent {
    padding-left: 20px;
  }
  .mainText span {
    margin-left: -10px;
  }
  .mainText h1 {
    font-size: 1.15rem;
  }
  .mainText p {
    font-size: 0.85rem;
  }
  .mainLinks a {
    font-size: 0.85rem;
  }
}

@media (max-width: 370px) {
  /* メインコンテンツ */
  .mainContent {
    padding: 10% 10px;
  }
  .mainText h1 {
    font-size: 1rem;
  }
  .mainText p {
    font-size: 0.8rem;
  }
  .mainLinks {
    display: flex;
  }
  .mainLinks a {
    background-color: #f2a93b;
    color: #fff;
    font-size: 0.75rem;
    padding: 5px 10px;
    margin: 5% 10px 0;
  }
}
