.footer {
  padding: 10% 30px;
  background-color: #f2a93b;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer a {
  color: #ffedd0;
  font-weight: 900;
  font-size: 1.5rem;
}
.footer a:hover {
  color: #fff;
}
.footer li {
  margin: 10px 0;
}
.footerContent {
  display: flex;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  padding: 10% 0;
  width: 100%;
}
.footerContent:hover {
  color: #fff;
}
.footerContent h1 {
  font-size: 2.5rem;
  margin-bottom: 5%;
}
.ARR span {
  font-size: 1.5rem;
}
.socialIcons {
  display: flex;
}
.socialIcons a {
  margin-left: 100px;
}
.socialIcons img {
  width: 50px;
  height: 50px;
  display: inline-block;
}

@media (max-width: 1000px) {
  .footer a {
    font-size: 1rem;
  }
  .footerContent h1 {
    font-size: 1.85rem;
  }

  .footerContent img {
    width: 100%;
    height: 70px;
    margin-bottom: 5%;
  }

  .footerContent {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding: 10% 0;
    width: 70%;
    transition: 0.5s;
  }

  .socialIcons {
    margin-left: 0px;
  }
  .socialIcons a {
    margin-left: 20px;
  }
  .socialIcons img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 500px) {
  .footerContent h1 {
    font-size: 1.5rem;
  }

  .footerContent img {
    width: 100%;
    height: 60px;
    margin-bottom: 5%;
  }

  .footerContent {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding: 10% 0;
    width: 100%;
    transition: 0.5s;
  }
  .socialIcons a {
    margin-top: 10px;
    margin-left: 20px;
  }
  .socialIcons img {
    width: 30px;
    height: 30px;
  }
}
