.points {
  background-color: #ffedd0;
  background-image: repeating-linear-gradient(
    -45deg,
    #ffffff,
    #ffffff 7.5px,
    transparent 0,
    transparent 15px
  );
  padding: 5% 30px;
  text-align: center;
}
.points h1 {
  letter-spacing: 3px;
}
.pointsSpan {
  border-bottom: 3px solid #f2a93b;
}
.pointContents {
  padding: 5% 0px;
  text-align: center;
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.point {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid #ffedd0;
}
.point h2 {
  color: #f2a93b;
}
.point img {
  width: 250px;
  height: 300px;
}
.point p {
  padding: 30px 0;
  color: #3e3e3e;
}

/* レスポンシブデザイン */

@media (max-width: 1340px) {
  .pointContents {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media (max-width: 690px) {
  /* ポイントコンテンツ */

  .pointContents {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  .pointsTitle {
    padding: 10% 0;
  }
  .pointTitle {
    padding-bottom: 5%;
  }
  .point img {
    width: 200px;
    height: 250px;
  }
  .point {
    padding: 5% 10%;
  }

  .point h2 {
    font-size: 1.25rem;
    color: #f2a93b;
  }
  .point h3 {
    font-size: 1rem;
  }
  .point p {
    font-size: 0.85rem;
    padding: 5% 0;
  }
}

@media (max-width: 370px) {
  /* ポイントコンテンツ */
  .points {
    padding: 5% 10px;
  }
  .pointContents {
    padding: 5% 0px;
    text-align: center;
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .point {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid #ffedd0;
  }
  .point h2 {
    color: #f2a93b;
  }
  .point img {
    width: 200px;
    height: 250px;
  }
}
